AGENT_LLM_PROVIDER=watsonx
AGENT_LLM_MODEL=meta-llama/llama-3-3-70b-instruct
HF_TOKEN=
WATSONX_URL=https://us-south.ml.cloud.ibm.com/
WATSONX_PROJECT_ID=
WATSONX_API_KEY=
OPENAI_API_KEY=

PRODUCT_OCR_PROVIDER=watsonx
PRODUCT_OCR_MODEL=meta-llama/llama-4-maverick-17b-128e-instruct-fp8
PRODUCT_OCR_MAX_IMAGES=5
PRODUCT_OCR_TILE_HEIGHT=1400
